# /software/freesurfer/6.0.0/freesurfer/fsfast/bin/fcseed-config -wm -fcname wm.dat -fsd bold -pca -cfg wm.config
2/scratch/dmi/zzhang87_lab/mcole22/SBCI/CogTE/integrated_pipeline
# $Id: fcseed-config,v 1.9 2015/12/10 22:51:29 zkaufman Exp $ 
# $Id: fcseed-config,v 1.9 2015/12/10 22:51:29 zkaufman Exp $ 
# ProjectDir /gpfs/bhwfs2/scratch/dmi/zzhang87_lab/mcole22/SBCI/CogTE/integrated_pipeline
# $Id: fcseed-config,v 1.9 2015/12/10 22:51:29 zkaufman Exp $ 
# Mon Nov  1 21:14:15 EDT 2021

fcname wm.dat
fsd bold
segstem aparc+aseg
RegDOF 6
FillThresh .95
# Mon Nov  1 21:14:15 EDT 2021
# Mon Nov  1 21:14:15 EDT 2021
DoMean 0

DoSVD 1

DoSqr 0
fcname wm.dat
fcname wm.dat
MakeMask 0
fsd bold
WMErode 0
fsd bold
segstem aparc+aseg
SVDSynth 0
segstem aparc+aseg
RegDOF 6
DoWM 1
RegDOF 6
FillThresh .95
FillThresh .95
UseB0DC 0
DoMean 0
DoMean 0
DoSVD 1
DoSVD 1
DoSqr 0
MakeMask 0
DoSqr 0
WMErode 0
MakeMask 0
SVDSynth 0
DoWM 1
WMErode 0
UseB0DC 0
SVDSynth 0
DoWM 1
UseB0DC 0
