# /software/freesurfer/6.0.0/freesurfer/fsfast/bin/fcseed-config -vcsf -fcname vcsf.dat -fsd bold -pca -cfg vcsf.config
# ProjectDir /gpfs/bhwfs2/scratch/dmi/zzhang87_lab/mcole22/SBCI/CogTE/integrated_pipeline
# $Id: fcseed-config,v 1.9 2015/12/10 22:51:29 zkaufman Exp $ 
# Mon Nov  1 21:14:15 EDT 2021

fcname vcsf.dat
fsd bold
segstem aparc+aseg
RegDOF 6
FillThresh .95
DoMean 0
DoSVD 1
DoSqr 0
MakeMask 0
WMErode 0
SVDSynth 0
DoWM 0
UseB0DC 0
segidlist 4 5 43 44 31 63
