# /Applications/freesurfer/fsfast/bin/fcseed-config -vcsf -fcname vcsf.dat -fsd bold -pca -cfg vcsf.config
# ProjectDir /Volumes/zhongUsers/kmurr10/CBP_sbci/fsfast
# $Id: FreeSurferEnv.csh,v 1.89 2016/06/09 14:54:31 zkaufman Exp $ 
# Thu Aug 27 11:16:03 EDT 2020

fcname vcsf.dat
fsd bold
segstem aparc+aseg
RegDOF 6
FillThresh .95
DoMean 0
DoSVD 1
DoSqr 0
MakeMask 0
WMErode 0
SVDSynth 0
DoWM 0
UseB0DC 0
segidlist 4 5 43 44 31 63
