# /Applications/freesurfer/fsfast/bin/fcseed-config -wm -fcname wm.dat -fsd bold -pca -cfg wm.config
# ProjectDir /Volumes/zhongUsers/kmurr10/CBP_sbci/fsfast
# $Id: FreeSurferEnv.csh,v 1.89 2016/06/09 14:54:31 zkaufman Exp $ 
# Thu Aug 27 11:15:51 EDT 2020

fcname wm.dat
fsd bold
segstem aparc+aseg
RegDOF 6
FillThresh .95
DoMean 0
DoSVD 1
DoSqr 0
MakeMask 0
WMErode 0
SVDSynth 0
DoWM 1
UseB0DC 0
